@font-face {
  font-family: "font-1";
  src: url(C:\Users\guill\Desktop\cours-react-1\public\media\fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #ff6b35;
$color-2: #333d43;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}
