.background-image-block {
  position: relative;
  width: 100%;
  max-width: 100%; /* Ajustez la largeur maximale selon vos besoins */
  overflow: hidden;
}

.background-image {
  background-image: url('../../../public/media/header/fondAnime.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.background-overlay {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 35%; /* Ajustez la largeur selon vos besoins */
  height: auto;
  object-fit: contain; /* Utilisez "contain" pour conserver les proportions de l'image */
}
.background-overlay2 {
  position: absolute;
  top: 17%;
  left: 55%;
  width: 16%; /* Ajustez la largeur selon vos besoins */
  height: auto;
  transform: rotate(-2deg); /* Remplacez l'angle (45deg) par la valeur de rotation souhaitée */
  object-fit: contain; /* Utilisez "contain" pour conserver les proportions de l'image */
}
.overlay-image-left {
  position: absolute;
  top: 25%;
  left: -21%;
  transform: rotate(45deg); /* Remplacez l'angle (45deg) par la valeur de rotation souhaitée */
  width: 35%;
  height: auto;
  z-index: 2;
}

.overlay-image-right {
  position: absolute;
  top: -40%;
  right:-14%;
  width: 35%;
  height: auto;
  z-index: 2;  

}

@media screen and (max-width: 1024px) {
  .background-image {
    background-image: url('../../../public/media/header/fondAnime.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh; /* Ajustez la hauteur selon vos besoins */
  }
}

@media screen and (max-width: 700px) {
  .background-image {
    background-image: url('../../../public/media/header/fondAnime.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh; /* Ajustez la hauteur selon vos besoins */
  }
}
