.logo {
  padding-top: 30px;
}

@media screen and (min-width: 300px) {
  img{  
    height: 50px;
    width: 100px;
  }
  .logo{
    padding: 20px 35px;
    margin: auto;
  }
  
}

@media screen and (min-width: 600px) {
  img{  
    height: 100px;
    width: 170px;
  }
  .logo{
    padding: 20px 35px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .logo{
    padding: 15px 100px;
  }
}
