.logo {
  padding-top: 30px;
  padding-left: 15px;
}

@media screen and (min-width: 300px) {
  img{  
    height: 50px;
    width: 100px;
  }
  
}

@media screen and (min-width: 600px) {
  img{  
    height: 80px;
    width: 150px;
  }
  .logo{
    padding: 20px 35px;
  }
}

@media screen and (min-width: 1024px) {
  .logo{
    padding: 15px 35px;
  }
}
