.nav {
  height: 20vh;
  width: 100%;
  background-color: white;
  margin-bottom:100px ;

}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  ul{
    display: flex;
    li{
      color: black;
      font-weight: bold;
      padding-right:50px ;
      padding-bottom: 5px;
    }
    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 7px;
        width: 0;
        background: $color-1;
        position: absolute;
        border-radius: 10px;
        left: 30%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 60%;
          }
        }
      }
    }
  }
}

.nav > #nav-check {
  display: none;
}

@media (max-width:700px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    align-items: center;
    text-align: center;
  }
  .nav > .nav-links > li {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(40vh - 50px);
    overflow-y: auto;
  }
}