  .slider-1 {
    max-width: 600px;
    margin: auto;
    overflow: hidden;

    .slider {
      animation: slider-1 12s infinite ease-in-out;
      display: flex;
    
      /* Si on veut faire glisser vers la droite */
      /* Il faut aussi changer l'animation(transform) en valeurs positives */
      /* flex-direction: row-reverse; */
    }

    img {
      filter: grayscale(100%);
      flex-shrink: 0;
      padding: 72px 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  
  }
  
  /* 
     5% par transition, nombre choisi arbitrairement.
  
     reste divisé par nb de pauses
     80(%) / 4 = 20(%) par pause
  */
  
  @keyframes slider-1 {
    0%,
    16% {
      transform: translateX(0);
    }
    21%,
    37% {
      transform: translateX(-100%);
    }
    42%,
    58% {
      transform: translateX(-200%);
    }
    63%,
    79% {
      transform: translateX(-300%);
    }
    84%,
    90% {
      transform: translateX(-400%);
    }
    95%,
    100% {
      transform: translateX(-500%);
    }
  } 
  
  