#slider {
  position: relative;
  height: 10vw;
  margin-top: 300px;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
  
}

input[type=radio] {
  position: relative;
  top: 108%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0;
  transform: translateX(-83px);
  cursor: pointer;
}


input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 0;
}
#slider label,
#slider label img {
  position: absolute;
  width: 75%;
  top: 30px;
  padding-bottom: 20px;
  left: 12%;
  height: 60%;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3 {
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
    #s5:checked ~ #slide1 {
  transform: translate3d(20%, 0, -100px);
}


#s1:checked ~ #slide3,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2{
  transform: translate3d(-20%, 0, -100px);
}